.home1{
  width: 95%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.home2{
  width: 52%;
  height: 40px;
  border: 1px solid #353535;
  display: flex;
}

.home4{
  width: auto;
  height: 40px;
  border-right: 1px solid #353535;
}

.home4 p{
  font-weight: 400;
  font-size: 14px;
  line-height: 16.41px;
  color: #000000;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
}

.home41{
  width: auto;
  height: 40px;
  border-right: 1px solid #353535;
  background: #004DFB;
  padding-left: 10px;
  padding-right: 10px;
}


.home41 p{
  font-weight: 400;
  font-size: 14px;
  line-height: 16.41px;
  color: #FFFFFF;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
}
.home42{
  width: auto;
  height: 40px;
  border-right: 1px solid #353535;
  background: #487EFA;
}

.home42 p{
  font-weight: 400;
  font-size: 14px;
  line-height: 16.41px;
  color: #FFFFFF;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
}


.home43{
  width: auto;
  height: 40px;
  border-right: 1px solid #353535;
  border-right: none;
}

.home43 p{
  font-weight: 400;
  font-size: 14px;
  line-height: 16.41px;
  color: #000000;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
}


.home5{
  display: flex;
  gap: 20px;
}

.home6{
  width: auto;
  height: 40px;
  border: 1px solid #000000;
}


.home6 p{
  font-weight: 400;
  font-size: 14px;
  line-height: 16.41px;
  color: #000000;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
}


.home7{
  width: 95%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.home8{

}

.home9 button{
  width: 162px;
  height: 40px;
  border-radius: 4px;
  border: none;
  outline: none;
  background: #3FB1B5;
  font-weight: 500;
  font-size: 14px;
  line-height: 16.41px;
  color: #FFFFFF;
  cursor: pointer;
}

.home10 {
  width: 343px;
  height: 66px;
  border: 1px solid #D9D9D9;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

.home11{
  display: flex;
  align-items: center;
  gap: 10px;
  padding-left: 20px;
}



.home11 h6{
  font-weight: 600;
  font-size: 16px;
  line-height: 18.75px;
  color: #3FB1B5;
}

.home12{
  font-weight: 500;
  font-size: 20px;
  line-height: 18.75px;
  color: #3FB1B5;
  padding-right: 10px;
  cursor: pointer;
}


.home13{

}


.helpdesk-container {
  width: 343px;
  height: 1101px;
  margin-top: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5); 
  background: #FFFFFF;
  padding: 20px;
}

.search1 {
  width: 295px;
  height: 45px;
  border: 1px solid #353535;
  border-radius: 4px;
 margin-left: 10px;
}



.question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  background-color: transparent;
  padding-bottom: 10px;
  border-bottom: 1px solid #000000;
  margin-top: 10px;
}

.question span{
  font-size: 16px;
  font-weight: 600;
  color: #000000;
  line-height: 18.75px;
}

.open{
  border: none;
}



.answer {
  border-bottom: 0.6px solid #000000;
  padding-bottom: 20px;
}


.answer label{
  font-size: 15px;
  font-weight: 500;
  color: #000000;
  padding-left: 8px;
}


.checkbox-container{
  margin-top: 10px;
  margin-left: 10px;
}



