*,html,body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  }

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* pages css */
/* shortlisted collage */

.shortList_collage{
  width: 80%;
  margin: auto;
  margin-top: 30px;
}

.short_size_header_font{
  font-weight: bold;
  font-size: 24px;
  line-height: 28.13px;
}

.shortList_header_list{
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-between;
}

.shortList_header_list_parent{
  display: flex;
  gap: 30px;
  align-items: center;
}

.shortList_header_list_parent p{
  margin: auto;
}

.shortList_header_list_left{
  display: flex;
  gap: 20px;
  align-items: center;
}

.shortList_header_list_left div {
  padding: 5px 20px;
  border: 1px solid black;
  border-radius: 5px;
}

.shortList_header_list_left input[type="checkbox"] {
  margin-right: 10px;
}

.shortList_Box{
  width: 100%;
  margin-top: 2rem;
  padding: 0 10px 1rem 2rem;
  background-color: #E0E0E0;
}


.shortList_Box_first_child{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.shortList_Box_first_child p {
  font-weight: 700;
  color: #3FB1B5;
  margin: 0;
}

.shortList_Box_first_child_left{
  display: flex;
  align-items: center;
}

.shortList_Box_first_child_left div{
  width: auto;
  height: auto;
  padding: 12px 9px 12px 9px;
}

.shortList_Box_first_child_left div p{
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 16.41px;
  color: #000000;
  margin: 0;
}


.shortList_Box_first_child_left div:nth-child(1) {
  background-color: #C4E8F9; 
}
.shortList_Box_first_child_left div:nth-child(2) {
  background-color: #EEACA6; 
}
.shortList_Box_first_child_left div:nth-child(3) {
  background-color: #C4E8F9; 
}

.shortList_Box_second_child{
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}

.shortList_Box_second_child_child{
  display: flex;
  align-items: center;
  column-gap: 1rem;
}

.shortList_Box_second_child_child div{
  background-color: #3FB1B5;
  height: auto;
  width: auto;
  padding: 12px 14px 12px 14px;
  border-radius: 4px;
}

.shortList_Box_second_child_child div p{
  font-size: 14px;
  line-height: 16.41px;
  color: #000000;
  margin: 0;
  color: white;
}

.single_flex_short{
  display: flex;
  align-items: center;
  column-gap: 2rem;
}

.single_flex_short p{
  margin: 0;
}

.button_short{
  display: flex;
  padding: 5px 20px;
  background-color:  #3FB1B5;
  border-radius: 4px;
}

.button_short p{
  margin: 0;
  color: white;
}

.button_short_2{
  display: inline-flex;
  padding: 4px 14px 4px 14px;
  width: auto;
  height: auto;
  background-color: #EEACA6;;
  margin-top: 1rem;
  border-radius: 4px;
}

.button_short_2 p{
  white-space: wrap;
  color: white;
  margin: 0;
}

/* table data */
.short_table{
  margin-top: 1rem;
  width: 100%;
}

.short_table table {
  width: 100%;
  border-collapse: collapse; 
}

.short_table th,
.short_table td {
  border: 1px solid black;
  padding: 8px;
  text-align: center;
}

.table_center_div{
  display: flex;
  width: inherit;
  padding: 0 2rem;
  justify-content: space-between;
}

.table_center_div p{ 
  margin: 0;
}

.short_table th {
  background-color: #f2f2f2; /* Optional: Add background color to header */
}

.short_table tbody tr {
  background-color: #ffffff; /* Optional: Set background color for table rows */
}

.short_table tbody tr:nth-child(even) {
  background-color: #f2f2f2; /* Optional: Set alternate background color for even rows */
}


.center-align {
  text-align: center;
}

.changeColor{
  background-color: #3FB1B5;
}

/* uspshortlist page */

.shortList_ups{
  margin-top: 3rem;
  margin-left: 5%;
  width: 85%;
  display: flex;
  gap: 3rem;
}

.ups_left_child {
  width: 25%;
}

.ups_left_child > p{
  color: #3FB1B5;
  font-size: 20px;
  margin: 0;
}

.ups_box_div{
  margin: 0;
  border: 1px solid black;
  padding: 10px;
  border-radius: 4px;
  margin-top: 0.5rem;
}

.ups_box_child{
  display: flex;
  justify-content: space-between;
}

.button_ups{
  outline:"none";
  padding: 8px 22px 8px 22px;
  background-color: #FE5244;
  color: white;
  border: none;
  border-radius: 4px;
}

.search_box{
  margin-top: 3px;
  height: 35px;
}

.search_box input{
width: 100%;
height: 100%;
}

.circle_class{
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #D9D9D9;
  text-align: center;
}

.constant_margin{
  margin-top: 0.5rem;
}

.ups_right_child {
  width: 75%;
}

.ups_right_button{
  display: flex;
  justify-content: end;
  gap: 2rem;
  margin-top: 2rem;
}

.button_ups_right_red{
  border: none;
  outline: none;
  background-color: #FE5244;
  padding: 8px 30px;
  border-radius: 5px;
}

.button_ups_right_blue{
  border: none;
  outline: none;
  background-color: #3FB1B5;
  padding: 8px 30px;
  border-radius: 5px;
}

.ups_main_right_child{
  margin-top: 2rem;
  background-color: #E0E0E0;
  padding: 2rem;
}

.ups_main_right_child div{
  background-color: white;
  padding: 10px;
}


/* /shortlisted_facilty */
.table_bottom_row{
  display: flex;
  margin-top: 1rem;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}


/* fess boottom div */

.fess_bottom_div {
  background-color: white;
  padding: 1.5rem;
  margin-top: 1rem;
}

/* collegeNotInterested  */

.collegeNotInterested{
  margin-top: 1.5rem !important;
  width: 90%;
  margin: auto;
  border: 1px solid black;
  border-radius: 5px;
}

.collegeNotInterested > p {
  margin: 0;
  font-size: 20px;
  padding: 10px;
  font-weight: bold;
}

.college_not_internal_div{
  display: flex;
  margin: 10px;
  border-radius: 4px;
  border: 1px solid black;
}

.college_not_internal_div div{
  width: calc(100% / 3);
  height: 40vh;
}

.college_not_internal_div div div {
  height: 60px;
  width: 100%;
  padding: 5px 5px 0px 0px;
  background-color: #D9D9D9;
}

.college_not_internal_div div div p {
  margin: 0;
  padding: 10px;
}

.college_not_internal_div div  p {
  margin: 0;
  padding: 10px;
}


.border_left{
  border-left: 1px solid black;
  height: 100%;
}

/* collage_recommantaion */

.collage_recommantaion{
  margin-top: 2rem !important;
  width: 90%;
  margin: auto;
  display: flex;
  gap: 1rem;
  margin-bottom: 3rem;
}

.recommantation_margin{
  margin-top: 3.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.recommantation_margin_child{
  display: flex;
  align-items: center;
  gap: 1rem;
}

.recommantation_margin_child p{ 
   margin: 0;
}

.recommantation_left_child{
  width: 20%;
}

.recommantation_header_list_left{
  display: flex;
  gap: 5px;
  align-items: center;
}

.recommantation_header_list_left div {
  padding: 5px 20px;
  border: 1px solid black;
  border-radius: 5px;
}

.recommantation_header_list_left input[type="checkbox"] {
  margin-right: 10px;
}

.recommatntaion_right_button{
  display: flex;
  gap: 0.5rem;
}

.recommantation_short{
  display: flex;
  padding: 5px 20px;
  background-color: white;
  border-radius: 4px;
  border: 1px solid black;
}

.recommantation_short p{
  margin: 0;
  color: black;
}

.recommantation_right_div{
  margin-top: 1rem;
  border: 1px solid black;
  border-radius: 4px;
  width: 100%;
  height: auto;
  padding: 1rem;
}

.recommantation_right_div > p:nth-child(1) {
  margin: 0;
  font-size: 20px;
  color: #3FB1B5;
}

.recommantation_right_button{
  display: flex;
  justify-content: end;
  gap: 2rem;
}

.recommantation_Ups_data{
  margin-top: 1rem;
  background-color: #FFEFDB;
  padding: 10px;
}


/* table data */
.recommantation_table{
  margin-top: 1rem;
  width: 100%;
}

.recommantation_table table {
  width: 100%;
  border-collapse: collapse; 
}

.recommantation_table table thead {
background-color: #CDCDCD;
}

.recommantation_table th,
.recommantation_table td {
  padding: 8px;
  text-align: center;
}

.button_recommantation_table{
  border: none;
  outline: none;
  color: #3FB1B5;
  border: 1px solid #3FB1B5;
  padding: 8px 30px;
  border-radius: 5px;
}

/* loan div */

.loan_div{
  margin-top: 2rem !important;
  width: 70%;
  margin: auto;
  border: 1px solid black;
  border-radius: 4px;
  padding: 1rem 1.5rem;
}

.loan_div div p{
  margin: 0;
  text-align: start;
}

.loan_div_child{
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.internal_div {
  width: 300px;
  border: 1px solid black;
}

.Loan_button{
  display: flex;
  padding: 12px 54px 12px 54px;
  background-color:  #1D3969;
  border-radius: 4px;
}

.Loan_button {
  margin: 0;
  color: white;
}
