 @media screen and (max-width: 768px) {
    .collage_recommantaion{
        margin-top: 1rem !important;
        display: block; 
      }

      .recommantation_left_child{
        width: 95%;
        margin: auto;
      }

      .ups_right_child{
        overflow-x: scroll;
      }

      .recommantation_margin{
        margin-top: 2rem;
        display: block;
        align-items: center;
        justify-content: space-between;
        gap: 1rem;
      }

      .recommantation_margin_child{
        display: block;
        align-items: start;
      }

      .recommantation_header_list_left{
        display: block;
        align-items: start;
      }

      .recommantation_header_list_left div {
       margin-top: 10px;
      }

      .recommatntaion_right_button{
        margin-top: 10px;
      }

      /* college fess recommantation */
      .ups_right_child{
        width: 95%;
        margin: auto;
      }

      .recommantation_right_div > p:nth-child(1){
        margin-bottom: 10px;
      }

      .recommantation_right_div > h6{
        margin-top: 10px;
      }

      .table_center_div{
        column-gap: 2rem;
      }

        .conver_top_parent {
            margin-top: 10px;
            align-items: start;
          }
    
          .conver_top_child{
            margin-top: 10px;
            align-items: start;
          }

          .converation-table{
            width: 90%;
            overflow-x: scroll;
          }

          .shortList_header_list_parent{
            display: block;
            align-items: unset;
          }
    
          .shortList_header_list_left{
            display: block;
          }
    
          .shortList_header_list_left > div{
            margin-top: 10px;
          }
    

          .shortList_Box_first_child {
            column-gap: 5px;
        }
    
        .shortList_Box_first_child > P {
            margin-top: 10px;
        }
    
        .shortList_Box_first_child_left {
            column-gap: 5px;
        }

        .loan_div_child{
          flex-direction: column;
        }
    
        .loan_internal_div{
          width: 100%;
          margin-top: 10px;
        }
    
        .loan_div_child > div{
          margin-top: 10px;
        }
    
        .loan_div{
          width: 90%;
        }
    
        .loan_main_div{
          width: 90%;
          height: auto;
        }

        .loan_main_div >p {
          line-height: 2rem;
        }

        .loan_main_child{
          display: block;
        }

        .Loan_main_parent_left{
          width: 100%;
        }

        .Loan_main_right {
          width: 100%;
          margin-top: 10px;
        }

        .profile_radio > div {
          margin-top: 10px;
        }

        .shortList_ups{
          flex-direction: column;
          width: 90%;
        }

        .ups_left_child{
          width: 90%;
          margin: auto;
        }

        .shortList_collage{
          width: 80%;
        }

        .Search-container > p {
          line-height: 2rem;
        }
    
        /* lucky pages responsive */
        .home2{
          flex-direction: column;
          height: auto;
          width: inherit;
          margin: auto;
          margin-bottom: 10px;
        }

        .home1{
          flex-direction: column;
          margin-top: 10px;
        }

    
        .home5{
          flex-direction: column;
        }

      


      .home7 {
        flex-direction: column;
      }

      .home8{
        width: 95%;
        margin: auto;
      }

     .home14{
      width: 95%;
      margin: auto;
     }

     .home18{
      flex-direction: column;
      margin: 5px;
     }

     .home20{
      width: 90%;
      flex-direction: column;
     }
    
.home20 .left-line{
  display: none;
}

.assignment{
  display: block !important;
}

.assignment3{
  margin-top: 10px;
}

.assignment4{
  overflow-x: scroll;
}

.search03{
  display: block !important;
}

.modal-content{
  width: 90%;
  margin: auto;
}

.addstudent2{
  flex-direction: column;
}

.addstudent2 > input {
  width: auto !important;
}

.addstudent2 > select {
  width: auto !important;
}


  }

  
  @media screen and (max-width: 480px) {
    .collage_recommantaion{
        margin-top: 1rem !important;
        display: block; 
      }

      .recommantation_left_child{
        width: 90%;
        margin: auto;
      }

      .ups_right_child{
        overflow-x: scroll;
      }

      .recommantation_margin{
        margin-top: 2rem;
        display: block;
        align-items: center;
        justify-content: space-between;
        gap: 1rem;
      }

      .recommantation_margin_child{
        display: block;
        align-items: start;
      }

      .recommantation_header_list_left{
        display: block;
        align-items: start;
      }

      .recommantation_header_list_left div {
       margin-top: 10px;
      }

      .recommatntaion_right_button{
        margin-top: 10px;
      }

      /* college fess recommantation */
      .ups_right_child{
        width: 90%;
        margin: auto;
      }

      .recommantation_right_div > p:nth-child(1){
        margin-bottom: 10px;
      }

      .recommantation_right_div > h6{
        margin-top: 10px;
      }

      .table_center_div{
        column-gap: 2rem;
      }

      /* converationl3 */
      .conver_top_parent {
        margin-top: 10px;
        align-items: start;
      }

      .conver_top_child{
        margin-top: 10px;
        align-items: start;
      }

      .coverage_main_header{
        display: block;
      }

      .coverage_main_header div{
        margin-top: 10px;
      }

      .time-heading{
        width: 90%;
      }

      .conversation-container{
        margin-top: 1rem !important;
        width: 90%;
        margin: auto;
        padding: 0.5rem 2rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      .converation-table{
        width: 90%;
        overflow-x: scroll;
      }


      .shortList_Box_second_child{
        display: block;
        align-items: center;
      }

      .shortList_Box_second_child > p{
        margin-top: 10px;
      }
      
      .shortList_Box_second_child_child{
        display: block;
        align-items: center;
        column-gap: 1rem;
      }
      
      .shortList_Box_second_child_child > div{
       margin-top: 10px;
       height: fit-content;
       width: fit-content;
       }

       .single_flex_short{
        margin-top: 10px;
       }

       .shortList_Box {
        width: 100%;
        margin-top: 2rem;
        padding: 0 10px 1rem 1rem;
        background-color: #E0E0E0;
    }

    .shortList_Box_first_child {
        column-gap: 5px;
    }

    .shortList_Box_first_child > P {
        margin-top: 10px;
    }

    .shortList_Box_first_child_left {
        column-gap: 5px;
    }




 

  }


  @media screen and (max-width:410px) {
    .shortList_Box_first_child_left{
      flex-wrap: wrap;
    }
  }